
.events-category {
    width: 100vw;

    .event-cat-text {
        display: flex;
        justify-content: space-between;
        gap: 10rem;
        width: 100vw;
        padding: 8rem 4rem 0 4rem;
    
        h2 {
            font-size: 50px;
        }
    
        p {
            padding-top: 8%;
            font-size: 20px;
        }
    }
    
    .event-cat-icons {
        display: flex;
        justify-content: space-around;
        text-align: center;
        width: 100vw;
        padding: 5rem 2rem 8rem 2rem;
       
    
        img {
            width: 150px;
            height: 150px;
            image-rendering: auto;
            border-radius: 50px;
        }
    }
} 
