.login {
    background-image: url("../images/login-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding-top: 30px;


    .login-container {
        background-color: orangered;
        opacity: 0.8;
        display: flex;
        flex-direction: column;
        margin: auto;
        // margin-top: 20px;
        // margin-bottom: 100px;
        border-radius: 50px;
        padding-bottom: 30px;
        width: 400px;
        // height: 600px;
    
       .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 9px;
        width: 100%;
        margin-top: 30px;
    
        .text {
            color: #ffffff;
            font-size: 2rem;
            font-weight: 400;
        }
    
        .underline {
            width: 61px;
            height: 6px;
            background: #000000;
            border-radius: 9px;
        }
       }
    
       .inputs {
        margin-top: 55px;
        display: flex;
        flex-direction: column;
        gap: 25px;
    
        .img-icons {
            height: 20px;
            width: 20px;
            margin: 0px 30px;
        }
    
        .input {
            display: flex;
            align-items: center;
            margin: auto;
            width: 300px;
            height: 50px;
            background: #ffffff;
            border-radius: 6px;
    
            input {
                height: 50px;
                width: 400px;
                background: transparent;
                border: none;
                outline: none;
                color: orangered;
                font-size: 19px;
            }
        }
        .forgot-password {
            padding-left: 62px;
            // margin-top: 10px;
            color: #ffffff;
    
            span {
                color: orangered;
                cursor: pointer;
            }
        }
    
        .submit-container {
            display: flex;
            gap: 30px;
            margin: 10px auto;
    
            .submit {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 8rem;
                height: 2.5rem;
                color: #000000;
                background: #ffffff;
                border-radius: 50px;
                font-size: 19px;
                font-weight: 400;
                cursor: pointer;

                &:hover {
                    color: orangered;
                }
            }

            .grey {
                background-color: grey;
                opacity: 0.8;

                &:hover {
                    color: #000000;
                }
            }
        }
       } 
    }
}

