header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    
    .nav-links {
        margin-left: 6rem;

        a {
            text-decoration: none;
            color: #ffffff;
            margin: 0 2rem;
        }
    }

    a:hover {
color: red;
    }

    .sign-up-btn {
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 50px;
    }

    .nav-btn {
        padding: 5px;
        cursor: pointer;
        background: transparent;
        border: none;
        outline: none;
        color: #ffffff;
        visibility: hidden;
        opacity: 0;
        font-size: 1.5rem;
    }

}

@media only screen and (max-width: 1024px) {
    header {

        nav {
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;
            background-color: orange;
            transition: 1s;
            transform: translateY(-100vh);

        } 

        .nav-btn {
            visibility: visible;
            opacity: 1;
            position: absolute;
            right: 2rem;
        }

        .responsive_nav {
            transform: none;
        }

        .nav-close-btn {
            position: absolute;
            top: 2rem;
            right: 2rem;
            
        }

        .sign-up-btn {
            visibility: hidden;
            opacity: 0;
        }
    }

}

